main {
	margin: 1em;
	line-height: 1.5;
}
header {
	padding: 3em 0;
}
section {
	margin: 2em 0;
}
article {
	margin: 2em 0;
	padding: 0.25em 0 0.5em 0;
	height: 5.5em;
	overflow-y: scroll;
	border-top: 2px solid #769; 
	border-bottom: 3px double #769; 
}
p {
	margin: 0;
}
nav {
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin: 0 6px 0 0;
}
nav ul li a {
	display: inline-block;
	color: #658;
	border: 1px solid #769;
	border-radius: 4px;
	padding: 0 3px;
	width: 1em;
	height: 1.5em;
	overflow: hidden;
}
nav ul li.active a {
	background: #769;
	color: #fff;
	border: 1px solid #658;
	border-radius: 4px;
	padding: 0 3px;
}
input[type="text"] {
	width: 3em;
}
input#tag1, input#tag2 {
	width: 5em;
}
.tagContainer label:nth-child(2) {
	border-radius: 0 4px 4px 0;
	margin: 0 4px 0 0;
}
.tagContainer input:last-child {
	border-radius: 4px !important;
	margin: 0 0 0 5px;
}
.subcategories {
}
.subcategory input {
	display: none;
}
.subcategory label {
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 0 3px;
	color: #658;
	border: 1px solid #769;
	border-radius: 4px;
	font-size: 90%;
}
.subcategory input:checked + label {
	background: #769;
	border: 1px solid #658;
	color: #fff;
}
.nosubcategory {
	display: none;
}
.thead {
	display: none;
}
.tr {
	clear: both;
	padding: 0.5em 0;
	text-align: right;
}
.td {
	display: inline-block;
}
.score {
	margin: 0 6px 0 0;
	float: left;
}
.score a {
	display: inline-block;
	padding: 0 3px;
	color: #658;
	border: 1px solid #769;
	border-radius: 4px;
}
.name {
	margin: 0 6px 0 0;
	float: left;
}
.nameChosen, .id, .star {
	margin: 0 6px 0 0;
	padding: 0 3px;
	float: left;
	background: #769;
	color: #fff;
	border: 1px solid #658;
	border-radius: 4px;
}
.category {
	display: none;
}
.star {
}
.rating {
	margin: 0 4px 0 0;
	float: left;
}
.tag {
	float: right;
	color: #658;
}
.source {
	clear: left;
	padding: 0 3px;
	border: 1px solid #658;
	border-radius: 4px;
	background: #769;
	color: #fff;
}
.item {
	display: inline-block;
	padding: 0 3px;
	background: #777;
	color: #fff;
	border: 1px solid #666;
	border-radius: 4px;
}
.item:hover {
	color: #fff;
}
.own .item {
	background: #78c;
	border: 1px solid #67b;
}
.own .deps .item {
	background: #c77;
	border: 1px solid #b66;
}
.td[tooltip]:before {
	display: inline-block;
	content: attr(tooltip);
	padding: 0 1px 0 0;
	font-weight: normal;
}
.void, .totalScore {
	display: none;
}
#clothes .td:nth-child(6), #clothes .td:nth-child(7) {
	clear: left;
}
#shoppingCart {
	padding: 2em 0 3em;
}
#shoppingCart .id, #shoppingCart .star, #shoppingCart .source {
	display: none;
}
#shoppingCart .rating, #shoppingCart .tag {
	float: none;
	font-size: 90%;
}