main {
	margin: 1em;
	line-height: 1.5;
}
header {
	padding: 3em 0;
}
section {
	margin: 2em 0;
}
article {
	margin: 2em 0;
	padding: 0.25em 0 0.5em 0;
	height: 5.5em;
	overflow-y: scroll;
	border-top: 2px solid #879; 
	border-bottom: 3px double #879; 
}
p {
	margin: 0;
}
nav {
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin: 4px 6px 0 0;
}
nav ul li a {
	display: inline-block;
	color: #768;
	border: 1px solid #879;
	border-radius: 4px;
	padding: 0 3px;
}
nav ul li.active a {
	background: #879;
	color: #fff;
	border: 1px solid #657;
	border-radius: 4px;
	padding: 0 3px;
}
select {
	margin: 0;
}
input[type="text"] {
	width: 3em;
}
input#tag1, input#tag2 {
	width: 5em;
}
.tagContainer label:nth-child(2) {
	border-radius: 0 4px 4px 0;
	margin: 0 4px 0 0;
}
.tagContainer input:last-child {
	border-radius: 4px !important;
	margin: 0 0 0 6px;
}
.thead {
	display: none;
}
.tr {
	clear: both;
	padding: 0.5em 0;
	text-align: right;
}
.td {
	display: inline-block;
}
.score {
	margin: 0 6px 0 0;
	float: left;
}
.score a {
	display: inline-block;
	padding: 0 3px;
	color: #768;
	border: 1px solid #879;
	border-radius: 4px;
}
.name {
	margin: 0 6px 0 0;
	float: left;
}
.nameChosen {
	margin: 0 6px 0 0;
	padding: 0 3px;
	float: left;
	background: #879;
	color: #fff;
	border: 1px solid #768;
	border-radius: 4px;
}
.category {
	margin: 0;
	padding: 0 0 0 3px;
	float: left;
	width: 1em;
	height: 1.5em;
	overflow: hidden;
	border: 1px solid #768;
	border-right: 0;
	border-radius: 4px 0 0 4px;
	background: #879;
	color: #fff;
}
.id {
	margin: 0 6px 0 0;
	padding: 0 3px 0 1px;
	float: left;
	border: 1px solid #768;
	border-left: 0;
	border-radius: 0 4px 4px 0;
	background: #879;
	color: #fff;
}
.star {
	margin: 0 6px 0 0;
	padding: 0 3px;
	float: left;
	border: 1px solid #768;
	border-radius: 4px;
	background: #879;
	color: #fff;
}
.rating {
	margin: 0 4px 0 0;
	float: left;
}
.tag {
	float: right;
}
.source {
	clear: left;
	padding: 0 3px;
	border: 1px solid #768;
	border-radius: 4px;
	background: #879;
	color: #fff;
}
.item {
	display: inline-block;
	padding: 0 3px;
	background: #777;
	color: #fff;
	border: 1px solid #666;
	border-radius: 4px;
}
.own .item {
	background: #78b;
	border: 1px solid #67a;
}
.own .deps .item {
	background: #b77;
	border: 1px solid #a66;
}
.td[tooltip]:before {
	display: inline-block;
	content: attr(tooltip);
	padding: 0 1px 0 0;
	font-weight: normal;
}
.void {
	display: none;
}
.td:nth-child(6), .td:nth-child(7) {
	clear: left;
}